

html, body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.5;
}

body{
  width: 100%;
  height: 100vh;
  background: url("https://codeberryschool.github.io/simple-quote-page/assets/freedom.jpg") no-repeat center;
  background-size: cover;
  color: #333;
}

.wrapper{
  padding-top: 4rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.quote{
  font-family: 'Quicksand', sans-serif;
  font-size: 2.5rem;
}

.author{
  font-family: 'Crimson Text', serif;
}

.navbar{
  position: absolute;
  margin-top: -35%

}



ul{
  list-style-type: none;
    display: flex;
}
li{
flex-direction: column;
}

a{
  text-decoration: none;
  color: black;
  float: left;
  border: 1px solid #ADD8E6;
  background-color: white;
  padding: 1px;
}

a:hover{
  color: #00ff00;
}

@media (max-width: 600px){
    .quote{font-size: 1rem;
    color: #00416A;
}
}
@media (min-width: 768px){
  .quote{
      font-size: 3rem;
       color: #ee0000;
}
}


