*{
    box-sizing: border-box;
}

.container {
  position: relative;
  text-align: justify;
  color: black;
    font-style:light;
    font-size: 1rem;
    text-transform: uppercase;
    }

.cover{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
quote{
    font-size:0.5rem;
}

@media (max-width: 600px){
    font-size: 1rem;
    color: blue;
}
@media (min-width: 780px){
  font-size: 3rem;
  color: red;
}

@media  (min-width: 1025px){
  font-size: 3rem;
  color: red;
    text-align: center;
}

img{
    width: 100%;
    height: auto;
}
